.header {
    font-size: 300px;
    color: #000;
    

}

.header-logo {
    float: left;
    padding: 20px 100px;
    font-family: serif;
}
.header-logo span {
    color: #8ef1ff;
}
.contents {
    float: left;
    background-color: black;
    color: white;
    padding: 15px 30px;
}
.contents span {
    font-size: 30px;
}
.container {
    float: left;
    height: 150px;
    width: 150px;
    padding: 100px 75px;
}
.container a {
    font-size: 15px;
    font-family: "arial black";
    padding: 15px 30px;
    float: left;
}